

menuentry "MxLinux 21 Xfce ISO" --class MxLinux {
	set iso_file="/opt/iso/mxlinux/MX-21_x64.iso"
	search --no-floppy -f --set=iso_partition $iso_file
	probe -u $iso_partition --set=iso_partition_uuid
	set img_dev="/dev/disk/by-uuid/$iso_partition_uuid"
	loopback loop ($iso_partition)$iso_file
	set boot_option=""
	#set boot_option="quiet splasht nosplash"
	linux (loop)/antiX/vmlinuz buuid=$iso_partition_uuid fromiso=$iso_file $boot_option
	initrd (loop)/antiX/initrd.gz
}


menuentry "MxLinux 21 KDE ISO" --class MxLinux {
	set iso_file="/opt/iso/mxlinux/MX-21_KDE_x64.iso"
	search --no-floppy -f --set=iso_partition $iso_file
	probe -u $iso_partition --set=iso_partition_uuid
	set img_dev="/dev/disk/by-uuid/$iso_partition_uuid"
	loopback loop ($iso_partition)$iso_file
	set boot_option=""
	#set boot_option="quiet splasht nosplash"
	linux (loop)/antiX/vmlinuz buuid=$iso_partition_uuid fromiso=$iso_file $boot_option
	initrd (loop)/antiX/initrd.gz
}


menuentry "MxLinux 21 Fluxbox ISO" --class MxLinux {
	set iso_file="/opt/iso/mxlinux/MX-21_fluxbox_x64.iso"
	search --no-floppy -f --set=iso_partition $iso_file
	probe -u $iso_partition --set=iso_partition_uuid
	set img_dev="/dev/disk/by-uuid/$iso_partition_uuid"
	loopback loop ($iso_partition)$iso_file
	set boot_option=""
	#set boot_option="quiet splasht nosplash"
	linux (loop)/antiX/vmlinuz buuid=$iso_partition_uuid fromiso=$iso_file $boot_option
	initrd (loop)/antiX/initrd.gz
}
