

menuentry "Clonezilla Stable 2.8.1-12 BaseOn Debian ISO" --class Clonezilla {
	set iso_file="/opt/iso/clonezilla/clonezilla-live-2.8.1-12-amd64.iso"
	search --no-floppy -f --set=iso_partition $iso_file
	probe -u $iso_partition --set=iso_partition_uuid
	set img_dev="/dev/disk/by-uuid/$iso_partition_uuid"
	loopback loop ($iso_partition)$iso_file
	#set boot_option=""
	#set boot_option="quiet splash"
	#set boot_option="union=overlay username=user config components quiet noswap edd=on nomodeset enforcing=0 locales= keyboard-layouts= ocs_live_run="ocs-live-general" ocs_live_extra_param="" ocs_live_batch="no" vga=788 ip= net.ifnames=0  nosplash i915.blacklist=yes radeonhd.blacklist=yes nouveau.blacklist=yes vmwgfx.enable_fbdev=1"
	linux (loop)/live/vmlinuz buuid=$iso_partition_uuid findiso=$iso_file boot=live $boot_option
	initrd (loop)/live/initrd.img
}
