

menuentry "Regolith 1.6.0_focal ISO" --class Ubuntu {
	set iso_file="/opt/iso/regolith/latest/Regolith_1.6.0_focal"
	search --set=iso_partition --no-floppy --file $iso_file
	probe --set=iso_partition_uuid --fs-uuid $iso_partition
	set img_dev="/dev/disk/by-uuid/$iso_partition_uuid"
	loopback loop ($iso_partition)$iso_file
	set boot_option=""
	#set boot_option="locale=zh_TW"
	#set boot_option="quiet splash"
	linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$iso_file $boot_option
	initrd (loop)/casper/initrd
}
